:root {
  --primary-0: #000000;
  --primary-5: #0c1300;
  --primary-10: #151f00;
  --primary-15: #1d2a00;
  --primary-20: #263500;
  --primary-25: #2f4100;
  --primary-30: #394d00;
  --primary-35: #435a00;
  --primary-40: #4d6700;
  --primary-50: #62810e;
  --primary-60: #7b9c2b;
  --primary-70: #95b744;
  --primary-80: #b0d35d;
  --primary-90: #d2ed95;
  --primary-95: #e0fba1;
  --primary-98: #f2ffce;
  --primary-99: #faffe4;
  --primary-100: #ffffff;
  --secondary-0: #000000;
  --secondary-5: #0d1301;
  --secondary-10: #171e07;
  --secondary-15: #212810;
  --secondary-20: #2c331a;
  --secondary-25: #363e24;
  --secondary-30: #424a2e;
  --secondary-35: #4d5639;
  --secondary-40: #596244;
  --secondary-50: #727b5b;
  --secondary-60: #8c9573;
  --secondary-70: #a6af8c;
  --secondary-80: #c1cba6;
  --secondary-90: #dde7c1;
  --secondary-95: #ecf5cf;
  --secondary-99: #faffe4;
  --secondary-100: #ffffff;
  --tertiary-0: #000000;
  --tertiary-5: #001412;
  --tertiary-10: #00201c;
  --tertiary-15: #002b27;
  --tertiary-20: #003732;
  --tertiary-25: #01433d;
  --tertiary-30: #144f48;
  --tertiary-35: #235b54;
  --tertiary-40: #316760;
  --tertiary-50: #4b8178;
  --tertiary-60: #649b92;
  --tertiary-70: #7fb6ad;
  --tertiary-80: #9ad1c8;
  --tertiary-90: #b5eee4;
  --tertiary-95: #c3fcf2;
  --tertiary-99: #f2fffb;
  --tertiary-100: #ffffff;
  --error-0: #000000;
  --error-10: #410002;
  --error-20: #690005;
  --error-30: #93000a;
  --error-40: #ba1a1a;
  --error-50: #de3730;
  --error-60: #ff5449;
  --error-70: #ff897d;
  --error-80: #ffb4ab;
  --error-90: #ffdad6;
  --error-95: #ffedea;
  --error-99: #fffbff;
  --error-100: #ffffff;
  --neutral-0: #000000;
  --neutral-5: #10110d;
  --neutral-10: #1b1c17;
  --neutral-15: #252621;
  --neutral-20: #30312c;
  --neutral-25: #3b3c36;
  --neutral-30: #474742;
  --neutral-35: #52534d;
  --neutral-40: #5e5f59;
  --neutral-50: #777771;
  --neutral-60: #91918a;
  --neutral-70: #acaba4;
  --neutral-80: #c8c7bf;
  --neutral-90: #e4e3db;
  --neutral-92: #e8e9dc;
  --neutral-94: #eeefe1;
  --neutral-95: #f2f1e9;
  --neutral-96: #f4f5e7;
  --neutral-98: #fbf9f1;
  --neutral-99: #fefcf4;
  --neutral-100: #ffffff;
  --neutral-variant-0: #000000;
  --neutral-variant-5: #0f1209;
  --neutral-variant-10: #1a1d13;
  --neutral-variant-15: #24271d;
  --neutral-variant-20: #2f3227;
  --neutral-variant-25: #3a3d31;
  --neutral-variant-30: #45483c;
  --neutral-variant-35: #515448;
  --neutral-variant-40: #5d6053;
  --neutral-variant-50: #76786b;
  --neutral-variant-60: #909284;
  --neutral-variant-70: #aaac9e;
  --neutral-variant-80: #c6c8b8;
  --neutral-variant-90: #e2e4d4;
  --neutral-variant-95: #f1f2e2;
  --neutral-variant-99: #fcfeed;
  --neutral-variant-100: #ffffff;

  --primary: var(--primary-40); //background
  --surfacetint: #4d6700;
  --onprimary: var(--primary-100); //text
  --primarycontainer: var(--primary-90); //background
  --onprimarycontainer: var(--primary-10); //text
  --secondary: var(--secondary-40); //background
  --onsecondary: var(--secondary-100); //text
  --secondarycontainer: var(--secondary-90);
  --onsecondarycontainer: var(--secondary-10);
  --tertiary: var(--tertiary-40);
  --ontertiary: var(--tertiary-100);
  --tertiarycontainer: var(--tertiary-90);
  --ontertiarycontainer: var(--tertiary-10);
  --error: var(--error-40);
  --onerror: var(--error-100);
  --errorcontainer: var(--error90);
  --onerrorcontainer: var(--error-10);
  --background: var(--neutral-100);
  --onbackground: var(--neutral-10);
  --surface: var(--neutral-98);
  --onsurface: var(--neutral-10);
  --surfacevariant: #e1e5cf;
  --onsurfacevariant: #444939;
  --outline: var(--neutral-variant-50);
  --outlinevariant: var(--neutral-variant-80);
  --shadow: var(--neutral-0);
  --scrim: var(--neutral-0);
  --inverseonsurface: var(--neutral-95);
  --inverseprimary: var(--primary-80);
  --primaryfixed: var(--primary-90);
  --onprimaryfixed: var(--primary-10);
  --primaryfixeddim: var(--primary-80);
  --onprimaryfixedvariant: var(--secondary-30);
  --secondaryfixed: var(--secondary-90);
  --onsecondaryfixed: var(--secondary-10);
  --secondaryfixeddim: var(--secondary-80);
  --onsecondaryfixedvariant: var(--secondary-30);
  --tertiaryfixed: var(--tertiary-90);
  --ontertiaryfixed: var(--tertiary-10);
  --tertiaryfixeddim: var(--tertiary-80);
  --ontertiaryfixedvariant: var(--tertiary-30);
  --surfacedim: var(--neutral-80);
  --surfacebright: var(--neutral-98);
  --surfacecontainerlowest: var(--neutral-100);
  --surfacecontainerlow: var(--neutral-96);
  --surfacecontainer: var(--neutral-94);
  --surfacecontainerhigh: var(--neutral-92);
  --surfacecontainerhighest: var(--neutral-90);
}

// :root.dark-mode {
//   primary: #b0d35d;
//   surfacetint: #b0d35d;
//   onprimary: #263500;
//   primarycontainer: #607f0a;
//   onprimarycontainer: #ffffff;
//   secondary: #bdcd95;
//   onsecondary: #28350c;
//   secondarycontainer: #374419;
//   onsecondarycontainer: #cadba2;
//   tertiary: #67dd99;
//   ontertiary: #00391f;
//   tertiarycontainer: #008650;
//   ontertiarycontainer: #ffffff;
//   error: #ffb4ab;
//   onerror: #690005;
//   errorcontainer: #93000a;
//   onerrorcontainer: #ffdad6;
//   background: #12140c;
//   onbackground: #e3e3d6;
//   surface: #12140c;
//   onsurface: #e3e3d6;
//   surfacevariant: #444939;
//   onsurfacevariant: #c5c9b4;
//   outline: #8f9380;
//   outlinevariant: #444939;
//   shadow: #000000;
//   scrim: #000000;
//   inversesurface: #e3e3d6;
//   inverseonsurface: #2f3128;
//   inverseprimary: #4d6700;
//   primaryfixed: #cbf075;
//   onprimaryfixed: #151f00;
//   primaryfixeddim: #b0d35d;
//   onprimaryfixedvariant: #394d00;
//   secondaryfixed: #d9e9af;
//   onsecondaryfixed: #151f00;
//   secondaryfixeddim: #bdcd95;
//   onsecondaryfixedvariant: #3e4b20;
//   tertiaryfixed: #84fab4;
//   ontertiaryfixed: #002110;
//   tertiaryfixeddim: #67dd99;
//   ontertiaryfixedvariant: #00522f;
//   surfacedim: #12140c;
//   surfacebright: #383a31;
//   surfacecontainerlowest: #0d0f08;
//   surfacecontainerlow: #1a1c14;
//   surfacecontainer: #1e2018;
//   surfacecontainerhigh: #292b22;
//   surfacecontainerhighest: #34362d;
// }

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
