.chip {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  width: max-content;
  gap: 0.4rem;
  align-items: center;
  border-radius: 0.4rem;
  border: 1px solid var(--onsurfacevariant);
  &__close {
    border: none;
    background-color: transparent;
    padding: 0 0.4rem;
    font-size: 1.2rem;
    color: #393a3d;
  }
}
