.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  margin: 3rem auto;
  width: 50rem;
  height: 50vh;
  align-items: center;
}

.link {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
